*~
*.o
*.la
*.lo
*_err.h
fac_*_err
.deps
.dirstamp
.libs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/componentinfo.dtd
/config.h
/config.h.in
/config.log
/config.status
/configure
/hds1_types.h
/hdsTest
/hds_machine
/hds_machine.txt
/hds_test
/hds_test_prm
/hds_types.h
/hdsdump_v4
/libtool
/make-hds-types
/make.log
/make.log.err
/stamp-h1
/starconf.status
/hdsTest.log
/hdsTest.trs
/hds_ctest.sdf
/hds_test_prm.log
/hds_test_prm.trs
/test-suite.log
